.body {
    margin: 0px;
    padding: 0px;
}

/* --------- HEADER --------- */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    height: 80px;
    color: white;
    padding: 0px 40px;
}

.fotologo {
    display:flex;
    height: 80px;
}

.listaheader {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 0px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.liheader {
    margin: 7px;
}


.linkslista {
    text-decoration: none;
    color:white;
}

/* --------- HEADER --------- */



/* --------- FOOTER --------- */

.footer {
    display: flex;
    background-color: rgb(0, 0, 0);
    height: 80px;
    justify-content: space-between;
    padding: 0px 40px;
    align-items: center;
}


.fotodigitalhouse {
    display: flex;
    align-content: flex-end;
    height: 70px;
}

.nombresnuestros {
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}

/* --------- MAIN --------- */
.main {
    display: flex;
    background-color: rgba(0, 0, 1, 0.876);
    color: white;
    flex-direction: column;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;   
}

.peliculas { 
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 10px;
    justify-content: flex-start;
    
}

.article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 20px;
}

.fotobarbie {
    height: 250px;
}

.listadetallegenero{
    text-decoration: none;
    color: white;
    font-size: 20px;
    justify-content: center;
}

.sectionpeliculas{
    display: flex;
    flex-direction: row;
}

.sectionseries{
    display: flex;
    flex-direction: row;
}

.seriesypeliculas{
    color: red;
}

.fotosillon{
    width: 40%;
}

.titulospeliculas{
    font-size: 20px;
}