
.body {
    margin: 0px;
    padding: 0px;
}

/* --------- HEADER --------- */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    height: 80px;
    color: white;
    padding: 0px 40px;
}

.fotologo {
    display:flex;
    height: 80px;
}
/* --------- ul (padre de li) --------- */
.listaheader {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 0px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

/* --------- home favoritos y genero --------- */
.liheader {
    margin: 7px;
}

/* --------- links de la lista de arriba --------- */
.linkslista {
    text-decoration: none;
    color:white;
}

/* --------- HEADER --------- */


/* --------- MAIN --------- */
.main {
    display: flex;
    background-color: rgba(0, 0, 1, 0.876);
    color: white;
    flex-direction: column;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;   
}
/* -- la sección de las 5 películas de barbie, está en todas menos detallepelicula y generos --- */
.maspopulares { 
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 10px;
    justify-content: flex-start;
    
}
/* --------- ver más --------- */
.reviews-container {
    display: none;
}
/* --------------- */ 
.lomasvisto { 
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 10px;
    justify-content: flex-start;
    
}

.masvaloradas { 
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 10px;
    justify-content: flex-start;
    
}

/* -- es cada cuadrante con la cartelera y el título barbie, aparece en todas menos en detallepelicula y generos -- */
.article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 20px;
    width: 20%;
    
}
/* -- la foto de la cartelera de barbie -- */
.fotobarbie {
    height: 300px;
}
/* -- es para que cuando toques un genero en generos.html te redireccione a detallegenero -- */
.listadetallegenero {
    text-decoration: none;
    color: white;
    font-size: 20px;
    justify-content: center;
}
/* -- abarca todas las palabras de generos en generos.html -- */
.sectionpeliculas {
    display: flex;
    margin: 2px;
    flex-direction: row;
}

/* -- abarca todas las palabras de generos en generos.html pero versión series -- */
.sectionseries {
    display: flex;
    margin: 2px;
    flex-direction: row;
}
/* -- son los títulos de genero.html -- */
.seriesypeliculas {
    color: white;
    margin: 10px;
}


/* -- los títulos de home tipo el mas populares -- */
.titulospeliculas {
    font-size: 20px;
    padding: 10px 0px 0px 10px;
}
/* -- todo el main de detallepelícula.html -- */
.detalle {
    background-color: rgba(0, 0, 1, 0.876);
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px;
    display: flex;
    padding-left: 475px;
    flex-direction: column;
}

/* -- los tres iconos de detallepelicula.html -- */
.logosfav {
    display: flex;
    list-style: none;
    color: white;
    flex-direction: row;
    justify-content: space-evenly;
}

/* -- la cartelera de barbie en detallepelícula.html -- */
.carteleradetalle {
    width: 100%;
}
    
/* -- es todo el cuadrante de la cartelera y la descripcion en detallepelicula.html -- */  
.sectiondetalle {
    width: 30vw;
    background-color: rgba(128, 128, 128, 0.305);
    flex-direction: column;
    padding: 20px;
}

/* -- cuando apretas para ver en familia en detallepelicula.html te lleva a detallegenero.html -- */
.paraverenfamilia {
    color: white;
    text-decoration: none;
}


/* -- en resultadosdebusqueda para que resultados similares quede abajo de barbie -- */
.barbieresultadossimilares {
    display: flex;
    flex-direction: column;
}

/* -- toda la section de las pelis similares queden horizontales -- */
.newbarbie{
    display: flex;
    flex-direction: row;
}

/* -- las fotos de las nuevas películas de barbie para modificar el tamaño de las portadas -- */
.fotonewbarbie{
    height: 250px;
}

.peliculas{
    display: flex;
    flex-direction: row;
}


    

.primera{
    text-decoration: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-size: medium;
    text-align: center;
    
}

.segundo{
    text-decoration: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-size: small;
    text-align: center;
    
}

.titulospeliculas{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

.geneross{
    color: white;
    text-decoration: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.h5barbie{
    text-decoration: none;
    color: white;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: small;
}


/* --------- FOOTER --------- */

/* --------- todo el footer --------- */
.footer {
    display: flex;
    background-color: rgb(0, 0, 0);
    height: 80px;
    justify-content: space-between;
    padding: 0px 40px;
    align-items: center;
}

/* --------- foto logo digital a la derecha --------- */
.fotodigitalhouse {
    display: flex;
    align-content: flex-end;
    height: 70px;
}
/* --------- nuestros nombres a la izquierda --------- */
.nombresnuestros {
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* ------ para editar el vh de la seccion favoritos --------- */
.mainfav {
    height: 80vh;
}

/* ------ para editar el vh de la seccion géneros --------- */
.maingen {
    height: 80vh;
}

.leyenda{
    display: none;
}

/* --------- @ MEDIA QUERIES CELULAR --------- */

@media (max-width: 420px) {
    
    /* --------- HEADER --------- */
    .header {
        padding: 5px 10px;
    }
 
    /* --------- ul (padre de li) --------- */
    .listaheader {
        display: flex;
        flex-direction: column;
        font-size: 12px;
    }
    /* --------- HEADER --------- */
    
    
    /* --------- MAIN --------- */
    
    h1 {
        font-size: 20px;
        display: flex;
        justify-content: center;
    }
    /* -- la sección de las 5 películas de barbie, está en todas menos detallepelicula y generos --- */
    .peliculas { 
        display: flex;
        flex-direction: column;
    }

    /* --------- main solo de favoritos --------- */
    .mainfav {
    height: 140vh;
    }

   
    /* -- la foto de la cartelera de barbie -- */
    .fotobarbie {
        height: 150px;
    }
     /* -- loader en resultado busqueda -- */
     .loader {
        display: block;
        margin: auto; 
    }
   
    /* -- abarca todas las palabras de generos en generos.html -- */
    .sectionpeliculas {
        display: flex;
        flex-direction: column;
    }
    /* -- abarca todas las palabras de generos en generos.html pero versión series -- */
    .sectionseries {
        display: flex;
        flex-direction: column;
    }
   
    /* -- los títulos de home tipo el mas populares -- */
    .titulospeliculas {
        font-size: 15px;
        display: flex;
        justify-content: center;
    }

    /* -- todo el main de detallepelícula.html -- */
    .detalle {
        display: flex;
        padding-left: 75px;
        flex-direction: column;
        justify-content: center;
    }   
    
    .sectiondetalle {
        width: 200px;
    }

    .maingen{
        height: 170vh;
        }


    /* --------- FOOTER --------- */
        
    /* --------- foto logo digital a la derecha --------- */
    .fotodigitalhouse {
        height: 45px;
    }

    .newbarbie{
        display: flex;
        flex-direction: column;
    }

}