.body {
    margin: 0px;
    padding: 0px;
}

/* --------- HEADER --------- */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    height: 80px;
    color: white;
    padding: 0px 40px;
}

.fotologo {
    display:flex;
    height: 80px;
}

.listaheader {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 0px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.liheader {
    margin: 7px;
}


.linkslista {
    text-decoration: none;
    color:white;
}

/* --------- HEADER --------- */



/* --------- FOOTER --------- */

.footer {
    display: flex;
    background-color: rgb(0, 0, 0);
    height: 80px;
    justify-content: space-between;
    padding: 0px 40px;
    align-items: center;
}


.fotodigitalhouse {
    display: flex;
    align-content: flex-end;
    height: 70px;
}

.nombresnuestros {
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}

/* --------- MAIN --------- */
.main {
    display: flex;
    background-color: rgba(0, 0, 1, 0.876);
    color: white;
    flex-direction: column;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;   
}

.peliculas { 
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 10px;
    justify-content: flex-start;
    
}

.article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 20px;
}

.fotobarbie {
    height: 300px;
}

.listadetallegenero{
    text-decoration: none;
    color: white;
    font-size: 20px;
    justify-content: center;
}

.sectionpeliculas{
    display: flex;
    flex-direction: row;
}

.sectionseries{
    display: flex;
    flex-direction: row;
}

.seriesypeliculas{
    color: red;
    margin: 10px;
}

.fotosillon{
    width: 40%;
}

.titulospeliculas{
    font-size: 20px;
    padding: 10px 0px 0px 10px;
}

.detalle{
    background-color: rgba(0, 0, 1, 0.876);
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px;
    display: flex;
    padding-left: 475px;
    flex-direction: column;
}

.logosfav{
    display: flex;
    list-style: none;
    color: white;
    flex-direction: row;
    justify-content: space-evenly;
}


.carteleradetalle {
    width: 100%;
}
    
    
.sectiondetalle{
    width: 30vw;
    background-color: rgba(128, 128, 128, 0.305);
    flex-direction: column;
    padding: 20px;
}

.sifavoritos{
    color: white;
    text-decoration: none;
}

.barbiefavoritos{
    margin: 0px 40px 0px 0px
}

.paraverenfamilia {
    color: white;
    text-decoration: none;
}

.barbieresultadossimilares {
    display: flex;
    flex-direction: column;
}

.newbarbie{
    display: flex;
    flex-direction: row;
}

.fotonewbarbie{
    height: 250px;
}

